<div class="row margin-fix">
  <!-- container -->
  <div class="col-md-6">
    <div id="qr-container" ng-show="presentationId && presenterId">
      <img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&chl={{presentationId}}|{{presenterId}}&chld=H|0"
      alt="QR code" class="img-responsive">
    </div>

    <button id="play-button"
      class="btn btn-primary btn-lg btn-block" ng-click="fullScreen()">
      <span class="glyphicon glyphicon-play"></span> Start presentation
    </button>
  </div>

  <div 
    ng-repeat="slide in slides"
    id="slide-container" 
    class="col-md-6" 
    ng-show="slide == currentSlide">
    <img src="{{ currentSlide.img_url }}" alt="Current slide"
      class="img-responsive">
  </div>
</div>

<div class="row">
  <button
    class="btn btn-default"
    ng-click="previousSlide()">
    Previous Slide
  </button>

  <button
    class="btn btn-default"
    ng-click="nextSlide()">
    Next Slide
  </button>

  <input
    ng-model="pageId"
    required>
  </input>
  <button
    class="btn btn-primary"
    ng-click="controllerRoundtrip()">
    Do Controller Roundtrip
  </button>
  <button
    class="btn btn-primary"
    ng-click="connectRoundtrip()">
    Do Connection Roundtrip
  </button>
</div>

<script>
  document.addEventListener(screenfull.raw.fullscreenchange, function() {
    console.log("resize");
    if (screenfull.isFullScreen) {
      console.log("full screen");
      $('#slide-container img').get(0).height = window.innerHeight;
    } else {
      console.log("Not full screen");
      $('#slide-container img').get(0).height =
        $('#slide-container').get(0).clientHeight;
    }
  });
</script>
