<div ng-show="currentSlide">
  <img src="{{ currentSlide.img_url }}"></img>
</div>

<button 
  class="btn btn-primary"
  ng-click="previousSlide()">
  Previous Slide
</button>

<button 
  class="btn btn-primary"
  ng-click="nextSlide()">
  Next Slide
</button>

<input 
  ng-model="pageId"
  required>
</input>
<button
  class="btn btn-primary"
  ng-click="controllerRoundtrip()">
  Do Controller Roundtrip
</button>

<div ng-show="presentationId && presenterId">
  <img src="http://chart.apis.google.com/chart?cht=qr&chs=400x400&chl={{presentationId}}|{{presenterId}}&chld=H|0"></img>
</div>